:root {
  --col-black: #000;
  --col-white: #fff;
  --col-interact: #0a8600;
  --container-width: 1160px;
  --font-family-sans: 'Arial', sans-serif;
  --font-family-serif: 'Helvetica', serif;
  --font-size-base: 16;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --lineheight-base: 1.3;
  --lineheight-heading-base: 1.1;
  --margin-base: 16px;
  /* Base font sizes for small and large screens */
  --min-font-base: 12px;
  --max-font-base: 20px;

  /* Modular typographi scale multipliers (1.25 scale) */
  --font-step-h1: 3.052;
  --font-step-h2: 2.441;
  --font-step-h3: 1.953;
  --font-step-h4: 1.5625;
  --font-step-h5: 1.25;
  --font-step-h6: 1;

  /* lessfux won't care about breakpoints in vanilla css, so they're here just for reference */
  --breakpoint-small: 480px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1024px;
  --breakpoint-xlarge: 1280px;
}

body {
  background-color: var(--col-white);
  color: var(--col-black);
  font-family: var(--font-family-sans);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-light);
}

a {
  color: var(--col-interact);
  font-weight: var(--font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
  font-weight: var(--font-medium);
}

h1 {
  font-size: clamp(calc(var(--min-font-base) * var(--font-step-h1)), 6vw, calc(var(--max-font-base) * var(--font-step-h1)));
  font-weight: var(--font-extralight);
}

h2 {
  font-size: clamp(calc(var(--min-font-base) * var(--font-step-h2)), 5vw, calc(var(--max-font-base) * var(--font-step-h2)));
}

h3 {
  font-size: clamp(calc(var(--min-font-base) * var(--font-step-h3)), 4vw, calc(var(--max-font-base) * var(--font-step-h3)));
}

h4 {
  font-size: clamp(calc(var(--min-font-base) * var(--font-step-h4)), 3vw, calc(var(--max-font-base) * var(--font-step-h4)));
}

h5 {
  font-size: clamp(calc(var(--min-font-base) * var(--font-step-h5)), 2.5vw, calc(var(--max-font-base) * var(--font-step-h5)));
}

h6 {
  font-size: clamp(calc(var(--min-font-base) * var(--font-step-h6)), 2vw, calc(var(--max-font-base) * var(--font-step-h6)));
}

hr {
  background-color: var(--col-black);
  border: 0;
  height: 1px;
  margin: calc(var(--margin-base) * 2) 0;
  opacity: 0.2;
}
